@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

body
{
  color: white;
  background: #8F2D56;
  font-family: 'Roboto',sans-serif;
}

span
{
  font-size: 30px;
}

#camera , #result
{
  border: 2px solid white;
  width: 350px;
  height: 300px; 
}

.object_name
{
  font-size: 40px;
}

.gesture_icon
{
  font-size:48px;
}

.heading
{
  font-size: 25px;
  border-radius: 10px;
  font-family: 'Open sans',sans-serif;
}

label
{
  font-family: 'Poppins',sans-serif;
  font-size: 19px;
  color: #9440d0;
  padding: 6px;
  border-radius: 3px;
  background-color: white;
}
